@model Entidad.ENota

@{
    ViewBag.Title = "Details";
}

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link href="@Url.Content("~/Front/plugins/select2/css/select2.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Front/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css")" rel="stylesheet" />

<div class="row justify-content-between">
    <div class="col-8">
        <h2>Detalle de Nota de Venta</h2>
        <input type="hidden" class="form-control" id="idNota" value="@ViewBag.idNota">
        <input type="hidden" class="form-control" id="creado" value="@ViewBag.Creado">
        <input type="hidden" class="form-control" id="estadoi">
    </div>
    <div class="col-4">
        <div class="form-group">
            <a class="btn btn-danger" href="@Url.Action("Index", "NotaVenta")" style="margin-right: 10px; margin-top: 10px;"><i class="fas fa-arrow-left"></i></a>
            <a class="btn btn-primary" href="@Url.Action("ReporteNotaVenta", "NotaVenta", new { id = ViewBag.idNota, creado = 0 })" style="margin-right: 10px; margin-top: 10px;"><i class="fas fa-print"></i></a>
            <a class="btn btn-danger" onclick="AnularNotaVenta('@ViewBag.idNota')" style="margin-right: 10px; margin-top: 10px;"><i class="fas fa-trash-alt"></i></a>
            <a class="btn btn-success" href="@Url.Action("Create", "NotaVenta")" style="margin-right: 10px; margin-top: 10px;"><i class="fas fa-plus-square"></i></a>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-1">
                <label>Nro</label>
                <input type="text" class="form-control" id="nro" disabled>
            </div>
            <div class="col-2">
                <label>Estado</label>
                <input type="text" class="form-control" id="estado" disabled>
            </div>
            <div class="col-2">
                <label>Fecha</label>
                <input type="text" class="form-control" id="fecha" disabled>
            </div>
            <div class="col-7">
                <label>Descripcion</label>
                <input type="text" class="form-control" id="descripcion" disabled>
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="padding-top: 20px;">
                <table id="detallenota" class="table table-bordered table-striped mb-0">
                    <thead>
                        <tr>
                            <th class="th-sm">
                                Producto
                            </th>
                            <th class="th-sm">
                                Lote
                            </th>
                            <th class="th-sm">
                                Cantidad
                            </th>
                            <th class="th-sm">
                                Precio
                            </th>
                            <th class="th-sm">
                                SubTotal
                            </th>
                        </tr>
                    </thead>
                    <tbody id="datosdetallenota">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-2">
                <label>TOTAL:</label>
            </div>
            <div class="col-3">
                <input type="text" class="form-control" id="total" disabled style="text-align: right;">
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="modalEliminar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmacion</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" id="idnota" hidden>
                <p id="texto">¿Esta seguro que deseas anular la Nota de Venta</p>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="AnularC()">Aceptar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#detallenota').DataTable({
                "scrollY": "25vh",
                "scrollCollapse": true,
                "searching": false,
                "paging": false,
                "ordering": false,
            });
            CargarNotaVenta();
            var Creado = $("#creado").val();
            if (Creado == 1) {
                MostrarMensajeExitoso("Nota de Venta Creada Correctamente");
            }
        });

        function CargarNotaVenta() {
             $.ajax({
                url: "@Url.Action("CargarDatosNotaVenta", "NotaVenta")",
                cache: false,
                type: "POST",
                dataType: "json",
                data: {
                    id: $("#idNota").val()
                }, success: function (result) {
                    $("#nro").val(result.nro);
                    $("#estadoi").val(result.estadoi);
                    $("#estado").val(result.estado);
                    $("#fecha").val(result.fecha);                    
                    $("#descripcion").val(result.descripcion);
                    $("#total").val(result.total);
                    var listadetalle = result.detalle;
                    var tabladatos = $('#datosdetallenota');
                    $('#datosdetallenota').empty();

                    for (let i = 0; i < listadetalle.length; i++) {
                        row = "<tr>" +
                            "<td>" + listadetalle[i].articulo + "</td>" +
                            "<td style='text-align: right;'>" + listadetalle[i].nroLote + "</td>" +
                            "<td style='text-align: right;'>" + listadetalle[i].cantidad + "</td>" +
                            "<td style='text-align: right;'>" + listadetalle[i].precio + "</td>" +
                            "<td style='text-align: right;'>" + listadetalle[i].subtotal + "</td>" +
                            "</tr>"
                        tabladatos.append(row);
                    }
                }
            });
        }

        function AnularNotaVenta(id) {
            var mesjModalEliminar = "¿Esta seguro que deseas anular la Nota de Venta";
            $("#texto").html(mesjModalEliminar);
            $("#idnota").val(id);
            $("#modalEliminar").modal('show');
        }

        function AnularC() {
            var estado = $("#estadoi").val();
            if (estado == 2) {
                MostrarMensaje("Esta Nota de Venta ya ha sido anulado");
            } else {
                $.ajax({
                url: "@Url.Action("Delete", "NotaVenta")",
                cache: false,
                        type: "POST",
                        dataType: "script",
                        data: {
                            idNota: $("#idnota").val()

                }, success: function () {

                }
            });
            }
        }

        function MostrarMensajeEliminacion(msj) {
            var msjbody = "Se anulo la Nota de Venta";

            $(document).Toasts('create', {
                class: 'bg-success',
                title: msj,
                autohide: true,
                delay: 10000,
                body: msjbody
            });

            $("#modalEliminar").modal('hide');
            location.reload();
        }

        function MostrarMensaje(msj) {
            $(document).Toasts('create', {
                class: ' bg-danger',
                title: "Alerta",
                autohide: true,
                delay: 10000,
                body: msj
            });
        }

        function MostrarMensajeExitoso(msj) {
            $(document).Toasts('create', {
                class: 'bg-success',
                title: "Alerta",
                autohide: true,
                delay: 10000,
                body: msj
            });
        }

    </script>
}
